<header class="mb-4">
  <nav class="flex justify-between items-center w-[92%] mx-auto">
    <div class="border-solid border-sky-500 border-1">
      <a class="font-roboto font-semibold text-3xl" href="/dashboard"
        >ClimaTracker</a
      >
    </div>
    <div
      class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5"
    >
      <ul
        class="flex md:flex-row flex-col md:items-center md:gap-x-14 gap-8 bg-climagray text-xl text-navblack"
      >
        <li class="text-navblack">
          <button
            class="font-roboto font-semibold mr-4 flex gap-3 leading-none"
            href="/dashboard"
          >
            <i class="fa-solid fa-heart-pulse"></i>Impacts
          </button>
        </li>

        <li class="">
          <button
            class="font-roboto font-semibold flex gap-3 leading-none"
            href="#"
          >
            <i class="fa-solid fa-house-medical"></i>Response
          </button>
        </li>

        <li class="">
          <button
            class="font-roboto font-semibold flex gap-3 leading-none"
            href="#"
          >
            <i class="fa-solid fa-circle-info"></i>About
          </button>
        </li>
        <li class="">
          <button
            class="font-roboto font-semibold flex gap-3 leading-none"
            href="/profile/<%= user._id%>"
          >
            <i class="fa-solid fa-book"></i>Resources
          </button>
        </li>

        <!-- <a href="/auth/google">
      <i class="fab fa-google left"></i> Sign in with different account
    </a> -->
        <!-- <a href="/auth/logout"> <i class="fab fa-google left"></i> Log out </a> -->
      </ul>
    </div>
    <div class="flex items-center gap-6 text-xl">
      <a
        class="px-5 py-2 rounded-full font-roboto font-semibold flex gap-3 leading-none"
        href="/profile/<%= user._id%>"
      >
        <i class="fa-solid fa-user"></i>
        My profile
      </a>
    </div>
  </nav>
</header>
