<header class="flex flex-row">
  <div class="border-solid border-sky-500 border-2">
    <a
      class="font-roboto font-semibold text-3xl border-solid border-2 border-sky-500 mr-8"
      href="/dashboard"
      >ClimaTracker</a
    >
  </div>
  <div class="border-solid border-2 border-sky-500 w-full flex justify-center">
    <div class="border-solid border-2 border-sky-500 flex flex-row w-1/2">
      <div class="basis-1/4">
        <i class="fa-solid fa-house"></i>
        <a
          class="font-roboto font-semibold text-slate-800 mr-4"
          href="/dashboard"
          >Dashboard</a
        >
      </div>

      <div class="basis-1/4">
        <i class="fa-solid fa-circle-info"></i>
        <a class="font-roboto font-semibold text-slate-800" href="#">About</a>
      </div>

      <div class="basis-1/4">
        <i class="fa-solid fa-book"></i>
        <a class="font-roboto font-semibold text-slate-800" href="#"
          >Resources</a
        >
      </div>
      <div class="basis-1/4">
        <i class="fa-solid fa-user"></i>
        <a
          class="font-roboto font-semibold text-slate-800"
          href="/profile/<%= user._id%>"
          >My profile</a
        >
      </div>

      <!-- <a href="/auth/google">
      <i class="fab fa-google left"></i> Sign in with different account
    </a> -->
      <!-- <a href="/auth/logout"> <i class="fab fa-google left"></i> Log out </a> -->
    </div>
  </div>
</header>
