<header>
  <h1>this is the Nav bar partial!</h1>
  <a href="/profile/<%= user._id%>">My profile</a>
  <br />
  <a href="/dashboard">go back to dashboard</a>
  <br />
  <a href="/auth/google">
    <i class="fab fa-google left"></i> Sign in with different account
  </a>
  <br />
  <a href="/auth/logout"> <i class="fab fa-google left"></i> Log out </a>
</header>
