<header>
  <h1>ClimaTracker Guest View</h1>
  <a href="/auth/google">
    <i class="fab fa-google left"></i> Sign in With Google to add posts, save
    posts, comment, and more!
  </a>
  <br />
  <a href="/guestDashboard">go back to dashboard</a>
  <br />
  <a href="/">back to home page</a>
</header>
