<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="Tagify" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate-Health Impacts Database</title>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
  </head>
  <body class="font-sans bg-climagray">
    <!-- Nav bar -->
    <%- include('partials/navbar') %>

    <!-- container div for feed, sort, title, filter -->
    <div id="containerForAll" class="2xl:flex 2xl:flex-col">
      <!-- Page title section -->
      <section
        class="flex justify-start w-6/12 mx-auto h-14 flex items-center max-w-[625px]"
      >
        <div class="">
          <h3
            class="h-12 leading-10 flex font-roboto text-2xl text-navblack font-bold flex items-center"
          >
            Climate Change and Health Impacts Feed
          </h3>
        </div>
      </section>
      <section
        class="flex justify-end w-6/12 mx-auto h-14 flex items-center max-w-[625px]"
      >
        <!-- <div class="">
          <h3
            class="h-12 leading-10 flex font-roboto text-xl text-navblack font-bold flex items-center"
          >
            Climate Change and Health Impacts Feed
          </h3>
        </div> -->
        <div class="flex justify-items-end flex gap-x-2">
          <a
            type="button"
            data-te-ripple-init
            data-te-ripple-color="light"
            href="/newPost"
            class="h-12 rounded-full flex gap-x-2.5 items-center inline-block rounded bg-gradient-to-r from-[#077F59] to-[#34D398] px-6 pb-2 pt-2.5 text-base font-medium leading-normal text-white transition duration-150 ease-in-out hover:shadow-[100px 100px 100px #077F59] focus:outline-none active:shadow-[100px 100px 100px #077F59] dark:shadow-md"
          >
            <button class="flex gap-x-2.5 items-center">
              Create a Post<i class="fa-solid fa-plus"></i>
            </button>
          </a>
          <form class="" action="/getSortedItems/dashboard/sort">
            <div
              class="w-24 bg-[#CACACA] font-roboto font-bold rounded-3xl text-navblack text-base"
            >
              <select
                data-te-select-init
                class=""
                name="sort"
                id="sortSelect"
                onchange="this.form.submit()"
                data-te-class-select-label="flex items-center justify-center !ml-4 pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate text-gray-500 transition-all duration-200 ease-out peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-200 dark:peer-focus:text-gray-200 data-[te-input-state-active]:scale-[0.8]"
                data-te-class-notch-leading="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full !w-6 border-r-0 rounded-l-full group-data-[te-input-focused]:border-r-0 group-data-[te-input-state-active]:border-r-0"
                data-te-class-notch-trailing="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-full group-data-[te-input-focused]:border-l-0 group-data-[te-input-state-active]:border-l-0"
                data-te-class-dropdown="w-64 relative outline-none min-w-[100px] m-0 scale-[0.8] opacity-0 bg-white shadow-[0_2px_5px_0_rgba(0,0,0,0.16),_0_2px_10px_0_rgba(0,0,0,0.12)] transition duration-200 motion-reduce:transition-none data-[te-select-open]:scale-100 data-[te-select-open]:opacity-100 dark:bg-zinc-700"
                data-te-class-form-outline="w-24 relative bg-[#CACACA] rounded-full"
              >
                <option hidden selected></option>
                <option value="yearDecreasing">
                  Year Published (increasing)
                </option>
                <option value="yearIncreasing">
                  Year Published (decreasing)
                </option>
                <option value="createdAtDecreasing">
                  Date posted (decreasing)
                </option>
                <option value="createdAtIncreasing">
                  Date posted (increasing)
                </option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
              </select>
              <label data-te-select-label-ref class="text-navblack">Sort</label>
            </div>

            <!-- <button type="submit">Sort</button> -->
          </form>
        </div>
      </section>

      <div class="flex max-w-[1240px] 2xl:mx-auto mx-auto">
        <!-- FILTER BUTTON -->
        <section
          class="w-1/4 text-xl flex flex-col 2xl:max-w-[315px] 2xl:min-w-[315px]"
        >
          <!-- Tailwind-elements multi select -->
          <div>
            <form action="/getFilteredItems/dashboard/filter" method="GET">
              <div
                class="w-64 mx-auto mb-6 flex items-center flex-col justify-center text-navblack text-lg"
              >
                <select
                  id="regionfilter"
                  name="regionfilter"
                  data-te-select-init
                  multiple
                  data-te-select-all="false"
                  data-te-select-filter="true"
                  data-te-class-select-label="!ml-4 pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate text-gray-500 transition-all duration-200 ease-out peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-200 dark:peer-focus:text-gray-200 data-[te-input-state-active]:scale-[0.8]"
                  data-te-class-notch-leading="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full !w-6 border-r-0 rounded-l-full group-data-[te-input-focused]:border-r-0 group-data-[te-input-state-active]:border-r-0"
                  data-te-class-notch-trailing="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-full group-data-[te-input-focused]:border-l-0 group-data-[te-input-state-active]:border-l-0"
                  data-te-class-dropdown="bg-[#FFFCFC] rounded-xl"
                  data-te-class-form-outline="w-64 relative bg-[#BEEDC0] rounded-full"
                >
                  >
                  <option value="The Americas (all subregions)">
                    The Americas (full region)
                  </option>
                  <option value="North America">North America</option>
                  <option value="Central America">Central America</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="South America">South America</option>
                </select>
                <label
                  data-te-select-label-ref
                  class="text-navblack text-roboto font-bold"
                  >Filter by Subregion</label
                >
              </div>

              <div
                class="w-64 mx-auto my-6 flex items-center flex-col justify-center rounded-3xl text-navblack text-lg"
              >
                <select
                  class=""
                  id="countryfilter"
                  name="countryfilter"
                  data-te-select-init
                  data-te-select-filter="true"
                  multiple
                  data-te-select-all="false"
                  data-te-class-select-label="!ml-4 pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate text-gray-500 transition-all duration-200 ease-out peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-200 dark:peer-focus:text-gray-200 data-[te-input-state-active]:scale-[0.8]"
                  data-te-class-notch-leading="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full !w-6 border-r-0 rounded-l-full group-data-[te-input-focused]:border-r-0 group-data-[te-input-state-active]:border-r-0"
                  data-te-class-notch-trailing="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-full group-data-[te-input-focused]:border-l-0 group-data-[te-input-state-active]:border-l-0"
                  data-te-class-dropdown="rounded-xl w-72 relative outline-none min-w-[100px] m-0 scale-[0.8] opacity-0 bg-white shadow-[0_2px_5px_0_rgba(0,0,0,0.16),_0_2px_10px_0_rgba(0,0,0,0.12)] transition duration-200 motion-reduce:transition-none data-[te-select-open]:scale-100 data-[te-select-open]:opacity-100 dark:bg-zinc-700"
                  data-te-class-form-outline="w-64 relative bg-[#C6E8F0] rounded-full"
                >
                  <option value="All countries">All countries</option>
                  <option value="Antigua and Barbuda">
                    Antigua and Barbuda
                  </option>
                  <option value="Argentina">Argentina</option>
                  <option value="Bahamas">Bahamas</option>
                  <option value="Barbados">Barbados</option>
                  <option value="Belize">Belize</option>
                  <option value="Bolivia">Bolivia</option>
                  <option value="Brazil">Brazil</option>
                  <option value="Canada">Canada</option>
                  <option value="Chile">Chile</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Dominica">Dominica</option>
                  <option value="Dominican Republic">Dominican Republic</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="El Salvador">El Salvador</option>
                  <option value="Grenada">Grenada</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Guyana">Guyana</option>
                  <option value="Haiti">Haiti</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Panama">Panama</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Saint Lucia">Saint Lucia</option>
                  <option value="St Vincent and the Grenadines">
                    St. Vincent and the Grenadines
                  </option>
                  <option value="St Kitts and Nevis">
                    St. Kitts and Nevis
                  </option>
                  <option value="Suriname">Suriname</option>
                  <option value="Trinida and Tobago">
                    Trinidad and Tobago
                  </option>
                  <option value="United States">United States</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Venezuela">Venezuela</option>
                </select>
                <label
                  class="text-navblack text-roboto font-bold"
                  data-te-select-label-ref
                  >Filter by Country</label
                >
              </div>

              <div
                class="w-64 mx-auto my-6 flex items-center flex-col justify-center rounded-3xl text-navblack text-lg"
              >
                <select
                  class=""
                  id="healthriskfilter"
                  name="healthriskfilter"
                  data-te-select-init
                  data-te-select-filter="true"
                  multiple
                  data-te-select-all="false"
                  data-te-class-select-label="!ml-4 pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate text-gray-500 transition-all duration-200 ease-out peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-200 dark:peer-focus:text-gray-200 data-[te-input-state-active]:scale-[0.8]"
                  data-te-class-notch-leading="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full !w-6 border-r-0 rounded-l-full group-data-[te-input-focused]:border-r-0 group-data-[te-input-state-active]:border-r-0"
                  data-te-class-notch-trailing="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-full group-data-[te-input-focused]:border-l-0 group-data-[te-input-state-active]:border-l-0"
                  data-te-class-dropdown="rounded-xl w-96 relative outline-none min-w-[100px] m-0 scale-[0.8] opacity-0 bg-white shadow-[0_2px_5px_0_rgba(0,0,0,0.16),_0_2px_10px_0_rgba(0,0,0,0.12)] transition duration-200 motion-reduce:transition-none data-[te-select-open]:scale-100 data-[te-select-open]:opacity-100 dark:bg-zinc-700"
                  data-te-class-form-outline="w-64 relative bg-[#E7C6B2] rounded-full"
                  data-te-class-select-arrow="absolute right-3 text-[0.4rem] cursor-pointer peer-focus:text-primary peer-data-[te-input-focused]:text-primary group-data-[te-was-validated]/validation:peer-valid:text-green-600 group-data-[te-was-validated]/validation:peer-invalid:text-[rgb(220,76,100)] w-5 h-5"
                  data-te-class-options-wrapper="overflow-y-auto overflow-x-auto"
                >
                  <option value="General">General</option>
                  <option value="Air-borne and respiratory illnesses">
                    Air-borne and respiratory illnesses
                  </option>
                  <option value="Heat-related illness">
                    Heat-related illness
                  </option>
                  <option
                    value="Injury and mortality from extreme weather events"
                  >
                    Injury and mortality from extreme weather events
                  </option>
                  <option value="Malnutrition and food-borne diseases">
                    Malnutrition and food-borne diseases
                  </option>
                  <option value="Mental and psychosocial health">
                    Mental and psychosocial health
                  </option>
                  <option value="Noncommunicable diseases (NCDs)">
                    Noncommunicable diseases (NCDs)
                  </option>
                  <option value="Vector-borne diseases">
                    Vector-borne diseases
                  </option>
                  <option
                    value="Water-borne diseases and other water-related health outcomes"
                  >
                    Water-borne diseases and other water-related health outcomes
                  </option>
                  <option value="Zoonoses">Zoonoses</option>
                </select>
                <label
                  class="text-navblack text-roboto font-bold"
                  data-te-select-label-ref
                  >Filter by Health Impact</label
                >
              </div>

              <div
                class="w-64 bg-[#CACACA] flex items-center flex-col justify-center mx-auto p-2.5 rounded-3xl font-roboto font-bold my-6"
              >
                <button type="submit">Apply filter</button>
              </div>
            </form>
          </div>

          <!-- <form class="" action="/getFilteredItems/dashboard/filter" method="GET">
          <div
            class="w-64 bg-[#BEEDC0] flex items-center flex-col justify-center mx-auto p-2.5 rounded-3xl font-roboto font-bold"
          >
            <label for="regionfilter">Filter by subregion</label>
            <select
              class="bg-climagray"
              name="regionfilter"
              id="regionfilter"
              type="text"
              multiple
            >
              <option value="">--Please choose an option--</option>
              <option value="The Americas (all subregions)">
                The Americas (full region)
              </option>
              <option value="North America">North America</option>
              <option value="Central America">Central America</option>
              <option value="Caribbean">Caribbean</option>
              <option value="South America">South America</option>
            </select>
          </div>

          <div
            class="w-64 bg-[#C6E8F0] flex items-center flex-col justify-center mx-auto p-2.5 rounded-3xl font-roboto font-bold my-6"
          >
            <label for="countryfilter">Filter by country</label>
            <select
              type="text"
              name="countryfilter"
              id="countryfilter"
              multiple
            >
              <option value="All countries">All countries</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Barbados">Barbados</option>
              <option value="Belize">Belize</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Brazil">Brazil</option>
              <option value="Canada">Canada</option>
              <option value="Chile">Chile</option>
              <option value="Colombia">Colombia</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cuba">Cuba</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Grenada">Grenada</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Honduras">Honduras</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Mexico">Mexico</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Panama">Panama</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="St Vincent and the Grenadines">
                St. Vincent and the Grenadines
              </option>
              <option value="St Kitts and Nevis">St. Kitts and Nevis</option>
              <option value="Suriname">Suriname</option>
              <option value="Trinida and Tobago">Trinidad and Tobago</option>
              <option value="United States">United States</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Venezuela">Venezuela</option>
            </select>
          </div>

          <div
            class="w-64 bg-[#E7C6B2] flex items-center flex-col justify-center mx-auto p-2.5 rounded-3xl font-roboto font-bold my-6"
          >
            <label for="healthriskfilter"
              >Filter by climate-sensitive health risks</label
            >
            <select name="healthriskfilter" id="healthriskfilter" multiple>
              <option value="General">General</option>
              <option value="Air-borne and respiratory illnesses">
                Air-borne and respiratory illnesses
              </option>
              <option value="Heat-related illness">Heat-related illness</option>
              <option value="Injury and mortality from extreme weather events">
                Injury and mortality from extreme weather events
              </option>
              <option value="Malnutrition and food-borne diseases">
                Malnutrition and food-borne diseases
              </option>
              <option value="Mental and psychosocial health">
                Mental and psychosocial health
              </option>
              <option value="Noncommunicable diseases (NCDs)">
                Noncommunicable diseases (NCDs)
              </option>
              <option value="Vector-borne diseases">
                Vector-borne diseases
              </option>
              <option
                value="Water-borne diseases and other water-related health outcomes"
              >
                Water-borne diseases and other water-related health outcomes
              </option>
              <option value="Zoonoses">Zoonoses</option>
            </select>
          </div>

          <div
            class="w-64 bg-[#CACACA] flex items-center flex-col justify-center mx-auto p-2.5 rounded-3xl font-roboto font-bold my-6"
          >
            <button type="submit">Apply filter</button>
          </div>
        </form> -->

          <!-- CLEAR SORT BUTTON -->
          <form action="/clearFilter/dashboard/1">
            <div
              class="w-64 bg-[#CACACA] flex items-center flex-col justify-center mx-auto p-2.5 rounded-3xl font-roboto font-bold"
            >
              <button type="submit">clear filter</button>
            </div>
          </form>
        </section>

        <!-- SORT BUTTON -->
        <!-- <form action="/getSortedItems/dashboard/sort">
      <label for="sort">Sort By:</label>
      <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="">-- Select --</option>
        <option value="yearDecreasing">
          Year published (most recent first)
        </option>
        <option value="yearIncreasing">Year published (oldest first)</option>
        <option value="createdAtDecreasing">
          Date posted (most recent first)
        </option>
        <option value="createdAtIncreasing">Date posted (oldest first)</option>
        <option value="likes">Likes</option>
        <option value="comments">Comments</option>
      </select>

      <button type="submit">Sort</button>
    </form> -->

        <!-- PARTIAL FOR ITEMS LIST FEED -->
        <section class="w-1/2 max-w-[625px] 2xl:w-[625px]">
          <%- include('partials/itemsFeed') %>
        </section>
        <div class="w-1/4 2xl:w-[315px]"></div>
      </div>
    </div>
    <footer><%- include('partials/footer') %></footer>

    <!-- Tailwind Elements stuff -->
    <script
      type="text/javascript"
      src="/tw-elements/dist/js/tw-elements.umd.min.js"
    ></script>

    <script>
      const regionfilter = document.querySelector("#regionfilter");
      const multiSelectInstance1 = te.Select.getInstance(regionfilter);
      multiSelectInstance1.setValue([]);

      const countryfilter = document.querySelector("#countryfilter");
      const multiSelectInstance2 = te.Select.getInstance(countryfilter);
      multiSelectInstance2.setValue([]);

      const healthriskfilter = document.querySelector("#healthriskfilter");
      const multiSelectInstance3 = te.Select.getInstance(healthriskfilter);
      multiSelectInstance3.setValue([]);

      const sortSelect = document.querySelector("#sortSelect");
      const sortInstance = te.Select.getInstance(sortSelect);
      sortInstance.setValue([]);
    </script>

    <!-- OLD multi select stuff -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script> -->

    <script>
      // new MultiSelectTag("regioninput"); // id
      // new MultiSelectTag("countryinput"); // id
      // new MultiSelectTag("healthriskinput"); // id

      // new MultiSelectTag("regionfilter", {
      //   rounded: true,
      // }); // id
      // new MultiSelectTag("countryfilter"); // id
      // new MultiSelectTag("healthriskfilter"); // id

      // CKEDITOR.replace('textinput', {
      //     plugins: 'wysiwygarea, toolbar, basicstyles, link'
      // })

      function showConfirmation(itemId) {
        console.log("Button clicked!");
        const result = confirm(
          "Are you sure you want to delete this post/comment?"
        );
        if (result) {
          window.location.href = `/edit/remove/${itemId}`;
        }
      }
    </script>
    <script>
      ClassicEditor.create(document.querySelector("#textinput")).catch(
        (error) => {
          console.error(error);
        }
      );
    </script>
  </body>
</html>
