<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Demo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h3 class="text-2xl">Climate-Health Impact Tracker</h3>

<h1 class="text-6xl pt-10">Tracking the Health Impacts of Climate Change.</h1>

<section class="py-8">
  <p class="text-l">stay informed on the latest research and data on the connection between climate change and public health</p>
</section>

<a href="/auth/google">
    <i class="fab fa-google left"></i> Log In With Google </a>

    <a href="/auth/logout"></a>
    <h4>Or <a href="/guestdashboard">Continue to dashboard</a></h4>

<img src="" alt="">

<section>
  <h2>Stay up-to-date on research.</h2>
  <p>The tracker allows you to easily upload and track relevant studies, articles, and images related to the health impacts of climate and environment</p>
</section>

<img src="" alt="">

<footer>
  <a href="">Privacy Policy</a>
  <a href="">Terms of Use</a>
  <a href="">Contact Us</a>
</footer>
    
    
</body>
</html>