<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClimaTracker</title>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="font-bold text-rose-700">
      Welcome to the Climate-Health Impact Tracker
    </h1>

    <a href="/auth/google">
      <i class="fab fa-google left"></i> Log In With Google
    </a>
    <a href="/auth/logout"></a>
    <h4>Or <a href="/guestdashboard">Continue as guest</a></h4>
  </body>
</html>
